.dashContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    background: white;
    height: 100%;
    width: 20%;
}

.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;
    width : 300px;
}
